#mainHeading{
    color: darkblue
}

.subHeading{
    color: coral;
}

p {
    font-family: sans-serif;
    font-weight: 100
}


body{
    padding: 20px;
        font-family: sans-serif;
    font-weight: 100    
}


input, button{
  font-size: 20px
  padding: 20px;
}

button{
    margin-top: 20px;
    margin: 5px;
}